.Cdiv {
  min-height: 500px;
  width: 30%;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: center; /* Center horizontally */
  margin: 0 540px;
  border-radius: 20px;
  padding: 40px 15px 20px 15px;
}
