.divSection {
  text-align: center;
  width: 100%;
  min-height: 600px;
}
.divSection h1 {
  font-size: 50px;
  font-weight: bolder;
}
.divSection span {
  color: orangered;
}
.divSection p {
  font-size: x-large;
  margin: 20px 0;
}
.divSection div {
  font-size: xx-large;
  margin: 70px 0 30px 0;
}
.comImage {
  border-radius: 5%;
  text-align: center;
  margin-left: 44%;
  max-width: 200px;
  max-height: 200px;
}
